*.iml
.gitignore
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/entry/.preview
.cxx
/node_modules
/src/node_modules
/src/gen/ttt.js
/src/generator/generator.jar
/src/generator/out/
/src/generator/resources/cmds/linux/napi_generator-linux
/src/generator/resources/cmds/mac/napi_generator-macos
/src/generator/resources/cmds/win/napi_generator-win.exe
/src/generator/.idea/